@*<h1>ROUTE: @Path</h1>*@
@{
    Layout = "_Layout";
}

<div>
    @*TODO: Add today's calendar events here*@
</div>
<div id="mainlogo">
    <img src="~/img/DJ_Chief_logo.jpg" alt="Chief Entertainment logo" />
</div>