<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/base.css" rel="stylesheet" />
    <link href="~/layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <partial name="_NavPartial.cshtml" />
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
