<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header></header>
    <div class="innerbody">
        <partial name="_NavPartial.cshtml" />
        @RenderBody();
    </div>
    <footer></footer>
</body>
</html>
