@{
    string path = "https://localhost:44315/";
}

    <nav>
        <ul>
            <li><a asp-action="Index")>Home</a></li>
            <li><a asp-action="Services")>Services</a></li>
            <li><a asp-action="About")>About</a></li>
            <li><a asp-action="Testimonials")>Testimonials</a></li>
            <li><a asp-action="Calendar")>Calendar</a></li>
            <li><a asp-action="Booking")>Booking</a></li>
            <li><a asp-action="Contact")>Contact</a></li>
        </ul>
    </nav>
