@{
}

    <nav>
        <ul>
            <li><a class="index" asp-action="Index")>Home</a></li>
            <li><a class="services" asp-action="Services")>Services</a></li>
            <li><a class="about" asp-action="About")>About</a></li>
            <li><a class="testimonials" asp-action="Testimonials")>Testimonials</a></li>
            <li><a class="calendar" asp-action="Calendar")>Calendar</a></li>
            <li><a class="booking" asp-action="Booking")>Booking</a></li>
            <li><a class="contact" asp-action="Contact")>Contact</a></li>
        </ul>
    </nav>
